
h2 Hi, I'm Meira.
P Learning the Dark Arts of <a href="http://www.github.com/meirad">Web Developement</a>, in a small town where wifi is a rare link to the outside world. 
P Interesting Reading: <a href="http://www.gwenbell.com">Gwen Bell</a>, <a href="http://www.zenhabits.net">ZenHabits</a>, <a href="http://www.mnmlist.com">Mnmlist</a> </p><br>
P You  can now find me in the Twitterverse @ <a href="http://www.twitter.com/meiradatiya">meiradatiya</a></p><br>
 <center><script>
var CoinWidget_Config = {
	address : '11oWesLztFeHsfzLc9oodpMv8W3LC92uc'
};
</script>
<script src="http://c.coinwidget.com/widget.js"></script><br><br>
<script data-gittip-username="meiradatiya"
src="https://www.gittip.com/assets/widgets/0002.js">
</script></center>