
h2 Hi, I'm Meira.
P Learning the Dark Arts of <a href="http://www.github.com/meirad">Web Developement</a>, in a small town where wifi is a rare link to the outside world. 
P Interesting Reading: <a href="http://www.gwenbell.com">Gwen Bell</a>, <a href="http://www.zenhabits.net">ZenHabits</a>, <a href="http://www.mnmlist.com">Mnmlist</a> </p><br>

  
