p
 a(href='/about')
  img(src='images/meirad.jpg', style='border: 1px solid #ccc; padding: 4px; width: 75%')
p
h4 Hi, I'm Meira.
P  Learning the Dark Arts of Web Developement, in a small town where wifi is a rare link to the outside world.

P  Interesting Reading: Gwen Bell, ZenHabits, Mnmlist

P Find me in the Twitterverse @ meiradatiya



 